* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: blue;
    font-family: 'Overpass Mono', monospace;
    color: aliceblue;
    height: 978px;
    width: auto;
}

#contenedor-crearpersonaje{
    display: none;
}
/*
h1 {
    color: aliceblue;
    margin: 64px 62px;
}

legend {
    background-color: aliceblue;
}

div {
    height: 400px;
    width: 800px;
    text-align: center;
}

textarea {
    height: 30px;
    width: 600px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

section {
    text-align: center;
    padding: 22px;
    display: flex;
}
*/

input#personaje {
    width: 461px;
    height: 22px;
    margin-bottom: 10px;
}

main {
    height: 560px;
    width: 980px;
    text-align: center;
    display: flex;
    align-items: center;
    margin:auto;
    justify-content: center;
}

#respuesta{
    display: none;
}